body{
    width: 100%;
    height: 300px;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}
.nav1 {
    width: 100%;
    height: 400px;
    background-color:rgb(71, 71, 204);
    color: white;
    padding-top: 0px;
    margin-top: 0px;
}
.nav1 .one h2{ 
    padding-left: 300px;
}
.nav1 .one i  {
    padding-left: 300px;
}
.nav1 .one button{
    align-items: left;
}
.nav1 .two{
    align-items: center;
    padding-left: 400px;
}
.nav1 .two i{ 
    padding: 20px;    
}
.nav1 .two i:hover{
    z-index: 999px;
    background-color: rgb(189, 187,187);
    border-radius: 40%;
}
.nav1 .three{
    padding-left: 300px;
}
.nav1 .three h1{
    font-size: 7vh;
}
.nav1 .three h4{
    font-size: 3vh;
}
.nav2 .main{
    padding-left: 300px;
    align-items: center;
}
.nav2 .main input{
    border-color: rgb(255, 255, 0);
    border:5px solid yellow;
    height: 5vh;
    border-radius: 2vh;
}
.nav2 .content {
    padding-left: 300px;
}
.nav3 {
    width: 800px;
    height: 560px;
    background-color: rgb(255, 255, 255);
    margin: 100px;
}
.nav3 .six{
    padding-left: 300px;
    margin-top: 100px;
}
.six .like i:hover{
    color: red; 
}
.six .like h4 h6{
    margin: 0px;
}
.like .box{
    width: 20px;
    height: 20px;
    background-color: blue;
    color: rgb(255, 255, 255);
}
.nav4 h1{
    padding-left: 300px;
    color: solid black;
}
.nav4 h4{
    padding-left: 300px;
    color: rgb(88, 85, 85);
}
.nav4 img{
    padding-left: 200px;
}
.nav5 h1{
    padding-left: 300px;
}
.nav5 img{
    padding-left: 300px;
    border-radius: 100px;
    text-align: center;
    align-items: baseline;
}
.nav6 h1{
    padding-left: 300px;
}
.nav6 h4{
    padding-left: 300px;
    color:rgb(88, 85, 85);
}
.nav6 img{
    padding-left: 50px;
    border-radius: 50px;
}
.nav7{
    width: 100%;
    height: 300px;
    
}
.nav7 h1{
    padding-left: 300px;
}
.eight{
    padding-left: 00px;
}
.nav7 .eight{
    width: 200px;
    height: 200px;
    border-color: blue;
    background-color: rgb(216, 214, 214); 
    border-radius: 30px;
}
.eight h6{
    color:rgb(88, 85, 85);
}
.nav7 .nine{
    width: 200px;
    height: 200px;
    border-color: blue;
    background-color: rgb(216, 214, 214); 
    border-radius: 30px;
}
footer{
    background-color:rgb(71, 71, 204);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
}
footer div{
    flex-flow: 30%;
}
footer h1{
    letter-spacing: 0.5rem;
}
footer h1 span{
    color: black;
}
footer p{
    font-size: 1rem;
}
footer i{
    margin: 0px 5px;
}